@font-face {
    font-family: "Regulardisplay";
    src: url("fonts/SedgwickAveDisplay-Regular.ttf");
}

p.font{
    font-family: "Regulardisplay", cursive;
    font-size: 150%;
    color:orangered
}
